#policy-engine .bot-message {
    align-self: flex-start;
    background-color: #ecf3fe;
    line-height: 1.4;
    margin-right: 75px;
}

#policy-engine .bot-message ul{
    padding-left: 15px;
    margin: 0;
}

#policy-engine .bot-message .summary{
    padding-bottom: 8px;
}


#policy-engine .bot-message .see-more {
    background: transparent;
    border: 0;
    cursor: pointer;
    float: right;
}


#policy-engine .bot-message li{
    margin: 8px 0;
    white-space: pre-wrap;
    font-family: "Google Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
}

#policy-engine .bot-message a:visited,
#policy-engine .bot-message a{
    color: #001d35;
}
 

