#policy-engine .error-message {
    align-self: flex-start;
    background-color: #ecf3fe;
    color: #ff5353;
    line-height: 1.4;
    margin-right: 75px;
}

#policy-engine .error-message pre{
    white-space: pre-wrap;
}